@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

body{
    font-family: 'VT323', monospace;
}

button{
    display: block;
    margin: 0 auto;
}

h1{
    font-size: 5em;
    text-align: center;
}

.h1-game{
    margin-top: 0em;
    margin-bottom: 0.2em;
}

canvas{
    display: block;
    margin: 0 auto;
}

.container{
    width: 33%;
    height: 80vh;
}

#ultimate{
    color:#00AF08;
}

#game{
    color:#E26600;
}

#base{
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: 4em auto;
    justify-content: center;
    align-items:flex-start;
}

#imagen {
    height: 80vh;
}

#reglas-play{
    /*padding-top: 3.5em;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reglas-play h2{
    text-align: center;
    font-size: 2em;
}



#reglas-play li{
    font-size: 1.5em;
    padding-bottom: 0.5em;
}


#reglas-play p{
    display:inline;
    font-size: 1.5em;
    padding-bottom: 0.2em;
    border-bottom: solid 0.1em #E26600;
    
}

.start-game{
    display: inline;
    cursor: pointer;
    border: 3.5px solid blue;
    border-radius: 4px;
    padding: 10px;
    align-items: center;
    font-size: 2em;
    margin-bottom: 0.5em;
    width: 141px;
    height: 32px;
    text-align: center;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.restart{
    display: inline;
    cursor: pointer;
    border: 3.5px solid white;
    background-color:blue;
    color: white;
    border-radius: 4px;
    padding: 10px;
    align-items: center;
    font-size: 2em;
    margin-bottom: 0.5em;
    width: 141px;
    height: 32px;
    text-align: center;
}

